.fb {
  font-size: 14px;
  text-decoration:none; 
  background-color: #3b5998;
  color: #fff;
  width: 200px;
  display: block;
  border-radius: 7px;
  padding:5px;
  text-align: center; }
.fb:hover {
  background-color:  #344873;
  color:white;}

.google {
  font-size: 14px;
  text-decoration:none; 
  color: #fff;
  width: 200px;
  background-color:  #d44638;
  padding:5px;
  margin-top: 8px;
  border-radius: 7px;
  display: block;
  text-align: center; }

.google:hover {
  background-color:  #a8463d;
  color:white; }